  <appSettings>
    <add key="DefaultPath" value="web/Saffron.htm" />
    <add key="SSOUrlForLogin" value="" />
    <add key="SSOUrlToCheckConfidential" value="/ERKSWeb/Authen2FA.aspx?method=Authen2fa" />
    <add key="isERKS" value="true" />
    <add key="impersonate" value="false" />
    <add key="aggregations_days" value="180" />
    <add key="AdminUserName" value="ERKS-S2-TRG\ERKSWebServices" />
    <add key="TFATimeout" value="15" />
    <add key="ReportPrintPath" value="D:\IIS\www\ERKSWeb\Web\RecordPrintFiles\" />
    <add key="ReportPrintLabel" value="Record Label (Incl Sec)" />
    <add key="ReportPrintRecord" value="Records - Basic" />
    <add key="ReportPrintDetail" value="Records - Detailed" />
    <add key="IsCustomLogin" value="false" />
    <add key="SaffronLoginPage" value="CustomLogin.aspx" />
    <add key="AdminPassword" value="1W6q68/9rNgHfHAPw4tMIw==" />
    <add key="SaffronWorkArea" value="D:\ERKSWebShare\ER" />
    <add key="CheckChildClassification" value="false" />
    <add key="Dataset" value="ERKS - ER" />
    <add key="SSLLogin" value="false" />
    <add key="Domain" value="" />
    <add key="WorkgroupName" value="ERKS-2T-APP1" />
    <add key="EmailRecordTypeName" value="" />
    <add key="list_limit_classification" value="20" />
    <add key="list_limit_record" value="10" />
    <add key="list_limit_retention" value="20" />
    <add key="list_limit_UserList" value="20" />
    <add key="list_limit_google" value="30" />
    <add key="Viewer" value="2" />
    <add key="WithGoogleSearch" value="false" />
    <add key="ContainerRecentListCount" value="7" />
    <add key="DebugLog" value="true" />
    <add key="ThumbnailSize" value="100" />
    <add key="SaffronConnectionString" value="EaP9BB9zQiAZPrgPe3GMenBze/yYXEHwAA+HsBGGLf2u2nwaSIL2M1Pk84DW3dSO0XJwnosv38Nm+6Qe/L0kn7Kl7GNqrLtZ0zDPxz76aCI/s9QTdq0oTQ==" />
    <add key="TomCatPort" value="8084" />
    <add key="constraint_on_number_of_gadgets" value="10" />
    <add key="FieldsAddIn" value="" />
    <add key="DatasetType" value="SQLServer" />
    <add key="DatabaseName" value="Saffron" />
    <add key="ServerName" value="ERKS-2T-DB" />
    <add key="DatabaseUserName" value="saffron" />
    <add key="DatabasePassword" value="1W6q68/9rNgHfHAPw4tMIw==" />
    <add key="Databaselogon" value="specific" />
    <add key="MSaffronURL" value="" />
    <add key="LookUpSetAddIn" value="" />
    <add key="list_limit_user" value="10" />
    <add key="IsQuickSearchTitle" value="true" />
    <add key="IsQuickSearchRecordNumber" value="true" />
    <add key="IsQuickSearchNotes" value="false" />
    <add key="isQuickSearchPartbarcode" value="true" />
    <add key="IsQuickSearchClassificationCode" value="false" />
    <add key="IsQuickSearchHPERMURI" value="false" />
    <add key="MachineName" value="" />
    <add key="DomainServer" value="Workgroup" />
    <add key="domainname" value="ERKS-S2-TRG" />
    <add key="FQDN" value="" />
    <add key="container" value="" />
    <add key="organizationunit" value="" />
    <add key="MaximumPasswordAge" value="" />
    <add key="ChangePasswordReminder" value="" />
    <add key="HideHeader" value="true" />
    <add key="HideLog" value="true" />
    <add key="HideMenu" value="true" />
    <add key="DefaultDataset" value="ERKS - ER" />
    <add key="TomCatProtocol" value="http" />
    <add key="RecordDisplay" value="1" />
    <add key="RecordFields" value="" />
    <add key="Saffron_host_name" value="" />
    <add key="Saffron_host_value" value="" />
    <add key="max_user_id_length" value="10" />
    <add key="UseSingleSSo" value="False" />
    <add key="ApplyRecordMenuControl" value="false" />
    <add key="SaffronHelpPage" value="" />
    <add key="ClassificationPathWrapTextLength" value="50" />
    <add key="IsQuickSearchDocumentContent" value="true" />
    <add key="list_limit_location" value="100" />
    <add key="ERKSUploaderURL" value="https://trgweb.s2.erks.eim.hksarg/ERKSWeb/AuthenUser.aspx?method=redirect" />
    <add key="ERKSExtractPath" value="D:\ERKSWebShare\ER\ERKSExtractDoc" />
    <add key="ERKSSevenZipPAth" value="D:\IIS\www\ERKSWeb\DLL" />
    <add key="ConsoleDocViewExePath" value="D:\IIS\www\ERKSWeb\DocConverter\ConsoleDocView.exe" />
    <add key="CMDataSetID" value="ER" />
    <add key="BlockedRecordNo" value="SYSSM/17/1" />
    <add key="AutomatedPartRule" value="Part rule - Financial Year" />
    <add key="MaxFileUploadLimit" value="209715200" />
    <add key="UseHPEncrptionMethods" value="" />
    <add key="URLLinkPrefix" value="https://sso.stg.csp.ccgo.hksarg/sso/ssoservice.jsp?TARGET=https%3A%2F%2Fdp.osdp03.ccgo.hksarg%3A8443%2Fsso%2Fidpssoinit%3FmetaAlias%3D%2Fosdp03idp%26spEntityID%3DSTGCSPSP%26NameIDFormat%3Durn%3Aoasis%3Anames%3Atc%3ASAML%3A2.0%3Anameid-format%3Atransient%26RelayState%3Dhttps%253A%252F%252Ftrgweb.s2.erks.eim.hksarg%252FERKSWeb%252FURLLink%252F" />
    <add key="LoginDataSetID" value="ER" />
    <add key="LoginDataSetName" value="ERKS-ER" />
    <add key="CSPAttributesURL" value="https://ssoa.stg.csp.ccgo.hksarg/sso/identity/attributes" />
    <add key="Delimiter" value="," />
    <add key="SPID" value="ERKSS2" />
    <add key="TimeOutMins" value="5" />
    <add key="MinAssuranceLevel" value="4" />
    <add key="assulvl" value="4" />
    <add key="certca" value="Hongkong Post" />
    <add key="certtype" value="per" />
    <add key="CSPServer" value="https://sso.stg.csp.ccgo.hksarg/" />
    <add key="PaperParkURL" value="/PP2" />
    <add key="PP2TaskQueueURL" value="/PP2/Entry.aspx?PageArgs=TaskQueue" />
    <add key="returnurl" value="https://trgweb.s2.erks.eim.hksarg/ERKSWeb/Web/TFAService.aspx?action=updatecancelstatus" />
    <add key="failureurl" value="https://trgweb.s2.erks.eim.hksarg/ERKSWeb/Web/TFAService.aspx?action=updatecancelstatus" />
    <add key="target" value="https://trgweb.s2.erks.eim.hksarg/ERKSWeb/Web/TFAService.aspx?action=updateloginstatus" />
    <add key="WorkgroupServerName" value="ERKS-2T-APP1" />
    <add key="WorkgroupServerPort" value="1137" />
    <add key="WebServerWorkPath" value="D:\HPE Content Manager\WebServerWorkPath\" />
    <add key="DatabaseId" value="ER" />
    <add key="DefaultDSID" value="ER" />
    <add key="CompDSID" value="ER" />
    <add key="ProcessingFlagEmailID" value="erkss2process@mail.eim.hksarg" />
    <add key="SessionPollingTime" value="160" />
    <add key="CSPMaxSessionTime" value="480" />
    <add key="TFAExcludeStartIp" value="" />
    <add key="TFAExcludeEndIp" value="" />
    <add key="SessionPollinginMain" value="true" />
    <add key="TotalFileUploadLimit" value="209715200" />
    <add key="UserTempEnclosedPath" value="D:\IIS\www\ERKSWeb\Web\WorkArea1" />
    <add key="RecentlyParts_days" value="15" />
    <add key="RecentlyParts_RecordCount" value="25" />
    <add key="isViewingMetadataLog" value="true" />
    <add key="ERKSWEBLogoutURL" value="https://sso.stg.csp.ccgo.hksarg/sso/ssologout.jsp " />
  </appSettings>
